<img src="../images/cads-logo.png" width=200 align=left>
<img src="../images/python-logo.png" width=200 align=right>

In [16]:
#!conda install pandas
import pandas as pd
from IPython.display import display

In [17]:
import numpy as np

# Pandas
- [Pandas](#Pandas)
- [Introduction to Pandas](#Introduction-to-Pandas)
- [Series](#Series)
    - [Initializing Series](#Initializing-Series)
    - [Selecting Elements](#Selecting-Elements)
        - [loc](#loc)
        - [iloc](#iloc)
    - [Combining Series](#Combining-Series)
    - [Exercises](#Exercises)
        - [Exercise 1](#Exercise-1)
        - [Exercise 2](#Exercise-2)
        - [Exercise 3](#Exercise-3)
- [DataFrames](#DataFrames)
    - [Creating DataFrames](#Creating-DataFrames)
        - [Series as Rows](#Series-as-Rows)
        - [Series as Columns](#Series-as-Columns)
        - [Summary](#Summary)
    - [Pandas Pretty Print in Jupyter](#Pandas-Pretty-Print-in-Jupyter)
    - [Importing and Exporting Data](#Importing-and-Exporting-Data)
        - [Reading CSV](#Reading-CSV)
        - [Writing CSV](#Writing-CSV)
    - [Selecting Data](#Selecting-Data)
    - [Exercises](#Exercises)
        - [Exercise 1](#Exercise-1)
        - [Exercise 2](#Exercise-2)
        - [Exercise 3](#Exercise-3)
        - [Exercise 4](#Exercise-4)
- [Data Processing](#Data-Processing)
    - [Aggregation](#Aggregation)
    - [Arithmetic](#Arithmetic)
    - [Grouping](#Grouping)
    - [Unique and Duplicate Values](#Unique-and-Duplicate-Values)
        - [unique](#unique)
        - [duplicate](#duplicate)
    - [Exercises](#Exercises)
        - [Exercise 1](#Exercise-1)
        - [Exercise 2](#Exercise-2)
        - [Exercise 3](#Exercise-3)
        - [Exercise 4](#Exercise-4)
- [Merge Data Frames](#Merge-Data-Frames)
    - [Exercises](#Exercises)
        - [Exercise 1](#Exercise-1)
- [Reshaping Data Frames](#Reshaping-Data-Frames)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
    - [Exercise 1](#Exercise-1)
    - [Exercise 2](#Exercise-2)
    - [Exercise 3](#Exercise-3)
    - [Exercise 4](#Exercise-4)
        - [Stacking and Unstacking Data Frames](#Stacking-and-Unstacking-Data-Frames)
    - [Exercise 5](#Exercise-5)
    - [Exercise 6](#Exercise-6)

## Introduction to Pandas

[Pandas](http://pandas.pydata.org/) is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. Pandas is free software released under the three-clause BSD license. The name is derived from the term _panel data_, an econometrics term for multidimensional structured data sets.

At it's core, Pandas consists of NumPy arrays and additional functions to perform typical data analysis tasks.

**Resources**:  
* [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html), especially
[10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Hernan Rojas' learn-pandas](https://bitbucket.org/hrojas/learn-pandas)  
* [Harvard CS109 lab1 content](https://github.com/cs109/2015lab1)

## Series
Series form the basis of Pandas. They are essentially Python dictionaries with some added bells and whistles. However, Pandas Series 'keys' are called indices.

### Initializing Series
Series can be initialized from Python objects like lists or tuples. If only values are given, Pandas generates default indices.

In [18]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [19]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

Series can be mixed type

In [20]:
# Create a mixed series
mixed = [1, 2, "Three"]
print(pd.Series(mixed))
print()
print(type(mixed[0]))
print(type(mixed[1]))
print(type(mixed[2]))

0        1
1        2
2    Three
dtype: object

<class 'int'>
<class 'int'>
<class 'str'>

Series also support missing values via the `None` type.

In [21]:
#create a pandas series with None
#observe the dtype
animals = ['Tiger', 'Bear', None]
print(pd.Series(animals))
print("")
print(type(animals[0]))
print(type(animals[1]))
print(type(animals[2]))

0    Tiger
1     Bear
2     None
dtype: object

<class 'str'>
<class 'str'>
<class 'NoneType'>

In [22]:
numbers = [1, 2, None]
print(pd.Series(numbers))
print("")
print(type(numbers[0]))
print(type(numbers[1]))
print(type(numbers[2]))

0    1.0
1    2.0
2    NaN
dtype: float64

<class 'int'>
<class 'int'>
<class 'NoneType'>

We can define custom keys during initialization.

In [23]:
sports = pd.Series(
    data=["Bhutan", "Scotland", "Japan", "South Korea"], 
    index=["Archery", "Golf", "Sumo", "Taekwondo"])
print(sports)

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

Alternatively, Series can also be initialized with dictionaries. Indices are then generated from the dictionary keys.

In [ ]:
#create a pandas series from dictionary
sports = pd.Series({
    'Archery': 'Bhutan',
    'Golf': 'Scotland',
    'Sumo': 'Japan',
    'Taekwondo': 'South Korea'})
print(sports)

We can list values and indices of series.

In [ ]:
print(sports.index)
print(sports.values)

Series type

In [ ]:
type(sports)

### Selecting Elements
As a result of iterative development of the Pandas library, there are several ways to select elements of a Series. Most of them are considered "legacy", however, and the best practice is to use `*.loc[...]` and `*.iloc[...]`. Take care to use the square brackets with `loc` and `iloc`, *not* the regular brackets as you would with functions.

#### loc
Select elements by their indices. If the index is invalid, either a `TypeError` or a `KeyError` will be thrown.

In [ ]:
print(sports.loc['Golf'])

#### iloc
Select elements by their numerical IDs, i.e. the n-th element.

In [ ]:
print(sports.iloc[1])

If the indices were autogenerated then both loc and iloc seem to be identical.

In [ ]:
sports_noindex = pd.Series(sports.values)
print(sports_noindex)
print("")
print(sports_noindex.loc[0])
print(sports_noindex.iloc[0])

Take care to keep your code semantically correct, however. For example, if the series is resorted, the index of each element stays the same, but the ID changes!

In [ ]:
sports_noindex_sorted = sports_noindex.sort_values()
print(sports_noindex_sorted)
print("")
print(sports_noindex_sorted.loc[1])
print(sports_noindex_sorted.iloc[1])

If you want to select by index then use `loc`, if you want to select by ID then use `iloc`. Do not use them interchangeably just because they return the same results right now. This will eventually lead to bugs in your code.

### Combining Series
Series can be combined by appending one to another

In [ ]:
s1 = pd.Series(["A", "B", "C"])
s2 = pd.Series(["D", "E", "F"])
print(s1)
print("")
print(s2)
print("")

s3 = s1.append(s2)
print(s3)

Notice the duplicate indices! Pandas permits this and selecting by `loc` will return *both* entries

In [ ]:
print(s3.loc[0])
print("")
print(s3.iloc[0])

Also notice that if your selection of a Series results in a single entry, Pandas automatically converts it to its base type, i.e. a string in this case. If the selection consists of more than 1 entry, however, a Series is returned.

In [ ]:
print(s3.loc[0])
print(type(s3.loc[0]))
print("")
print(s3.iloc[0])
print(type(s3.iloc[0]))

### Exercises

#### Exercise 1
Create a pandas Series object from the following movie ratings
    
    The Avengers: 9.2
    Mr. Bean: 7.4
    Garfield: 2.1
    Star Wars The Force Awakens: 8.8

In [ ]:
### Your code here

In [ ]:
# MC
movies = pd.Series(
    data = [9.2, 7.4, 2.1, 8.8],
    index = ["The Avengers", "Mr. Bean", 
             "Garfield", "Star Wars The Force Awakens"])
print(movies)
print()

movies = pd.Series({
    "The Avengers": 9.2,
    "Mr. Bean": 7.4,
    "Garfield": 2.1,
    "Star Wars The Force Awakens": 8.8})
print(movies)

#### Exercise 2
Select the rating for the movie 'Garfield'.

In [ ]:
### Your code here

In [ ]:
# MC
movies.loc["Garfield"]

#### Exercise 3
Select the index of the 2$^{nd}$ entry

In [ ]:
### Your code here

In [ ]:
# MC
movies.index[1]

## DataFrames

Multiple series with common indices can form a data frame. A data frame is like a table, with rows and columns (e.g., as in SQL or Excel).

|  .   | Animal | Capital |
| --- | --- | --- |
| India | a | b |
| Sweden | a | b |

Each row usually denotes an entry in our data and each column a feature we're interested in.

<img src="../images/data_frame.png" width=400 >

### Creating DataFrames

#### Series as Rows
Data frames can be created by glueing together Series objects as rows. In this case, the series indices become the data frame columns

In [ ]:
row1 = pd.Series(("Elephant", "New Delhi"), index=("Animal", "Capital"))
row2 = pd.Series(("Reindeer", "Stockholm"), index=("Animal", "Capital"))
print(row1)
print()
print(row2)

In [ ]:
df = pd.DataFrame(data=[row1, row2], index=("India", "Sweden"))
df

As before, we can make use of Pandas' flexibility and replace the Series objects with a dictionary

In [ ]:
df = pd.DataFrame(
    data=[
        {"Animal": "Elephant", "Capital": "New Delhi"},
        {"Animal": "Reindeer", "Capital": "Stockholm"}],
    index=("India", "Sweden"))
df

Or even a list of lists

In [ ]:
df = pd.DataFrame(
    data=[["Elephant", "New Delhi"], 
          ["Reindeer", "Stockholm"]],
    index=["India", "Sweden"],
    columns=["Animal", "Capital"])
df

Make sure to match indices and columns when combining series. Pandas won't necessarily raise an error but perform flexible merging.

In [ ]:
row1 = pd.Series(("Elephant", "New Delhi"), index=("Animal", "City"))
row2 = pd.Series(("Reindeer", "Stockholm"), index=("Animal", "Capital"))
print(row1)
print()
print(row2)
df = pd.DataFrame(data=[row1, row2], index=("India", "Sweden"))
display(df)

#### Series as Columns
We can also create data frames column-wise

In [ ]:
col1 = pd.Series(["Elephant", "Reindeer"])
col2 = pd.Series(["New Delhi", "Stockholm"])
print(col1)
print()
print(col2)

In [ ]:
df = pd.DataFrame(data=[col1, col2],
                columns = ["Animal", "Capital" ],
                index = ["India", "Sweden"])
df

#### Summary
Series are pasted together to become data frames. They can be pasted as:
- rows: `data=[series1, series2, ...]`
- columns: `data=[series1, series2, ...]`

We can use the same `*.index` and `*.values` attributes as for Series

In [ ]:
print(df.index)
print(df.columns)
print(df.values)

### Pandas Pretty Print in Jupyter
Jupyter has a 'pretty print' option for Pandas dataframes. Using `print` will print the dataframes in Jupyter as they would appear in a standard console. But leaving it away or using IPython's `display` function will render them as HTML tables

In [ ]:
print(df)

In [ ]:
from IPython.display import display
display(df)

Jupyter allows a shortcut for the `display` function. If we execute a Python command or line of code that results in a data frame, Jupyter will assume we want to display it and do so using its built-in function. Note, however, that it will only ever do this with the last relevant line in each cell.

In [ ]:
df

### Importing and Exporting Data
Most often we don't create data within our code but read it from external sources. Pandas has a large collection of importing (and corresponding exporting) functions available.

| Data | Reader | Writer |
| --- | --- | --- |
| CSV | `read_csv` | `to_csv` |
| JSON | `read_json` | `to_json` |
| HTML | `read_html` | `to_html` |
| Local clipboard | `read_clipboard` | `to_clipboard` |
| Excel | `read_excel` | `to_excel` |
| HDF5 | `read_hdf` | `to_hdf` |
| Feather | `read_feather` | `to_feather` |
| Parquet | `read_parquet` | `to_parquet` |
| Msgpack | `read_msgpack` | `to_msgpack` |
| Stata | `read_stata` | `to_stata` |
| SAS | `read_sas` |  |
| Python Picke Format | `read_pickle` | `to_pickle` |
| SQL | `read_sql` | `to_sql` |
| Google Big Query | `read_gbq` | `to_gbq` |

http://pandas.pydata.org/pandas-docs/stable/io.html

#### Reading CSV
We will read a tabular CSV file as an example.

In [ ]:
cars = pd.read_csv("../data/cars.csv")
cars

In [ ]:
%pwd

We can also define one of the columns as an index column using either the column header (if it exists) or the column ID (remember, Python starts counting at 0)

In [ ]:
cars = pd.read_csv("../data/cars.csv", index_col="model")

# Use head() to print only the first few lines
cars.head()

In [ ]:
cars = pd.read_csv("../data/cars.csv", index_col=0)
cars.head(3)

#### Writing CSV
Writing CSV files is as straightforward as it gets. Notice that these functions are now methods of the specific objects, not of base Pandas

In [ ]:
!ls
# For windows:
# !dir

In [ ]:
cars.to_csv("cars2.csv")

In [ ]:
!ls

### Selecting Data
Selecting data from Pandas arrays works just as it did for NumPy arrays, except that `loc` and `iloc` are necessary.

In [ ]:
cars.head(10)

In [ ]:
cars.iloc[9]

In [ ]:
cars.iloc[5, 3]

In [ ]:
cars.iloc[4:7]

In [ ]:
cars.iloc[1:9:2]

As with Series, we can also select items by their index names.

In [ ]:
cars.loc["Datsun 710"]

In [ ]:
cars.loc[["Datsun 710", "Ferrari Dino"]]

Notice how a single entry is shown as a series but multiple entries as a data frame. This is analogous to how a single entry of a series is shown as a base type and multiple entries as a smaller series

<br><center><b>Base Type --> Series --> Data Frame</b></center>

Selecting columns can be done just as with dictionaries except that we can select multiple Pandas columns simultaneously. As with row selection, selecting a single column results in a Series object but selecting multiple columns results in a new DataFrame object.

In [ ]:
cars["disp"]

In [ ]:
cars[["disp", "wt"]].head()

Alternatively, we can also use the `*.loc`/`.*iloc` syntax. In this case, we have to include both the row and column indices to select. As with base Python, the colon `:` instructs Pandas to select all rows or columns

In [ ]:
cars.loc[:, "disp"]

In [ ]:
cars.loc["Mazda RX4", "disp"]

Take note that if we want to mix ID and index selection, we need to chain together `loc` and `iloc` calls. There is no way to combine this into a single index tuple.

In [ ]:
print(cars.iloc[4])
print()
print(cars.iloc[4].loc["mpg"])

In [ ]:
print(cars.loc[:, "mpg"])
print()
print(cars.loc[:, "mpg"].iloc[4])

We can see the names of all columns with the `columns` property (notice that this is also an index object, just as the row names is).

In [ ]:
print(cars.columns)
print(cars.index)

We can also use boolean masks to select rows or columns, i.e.

```python
cars.loc[True, True, False, True, False, ...]
```

However, as we're dealing with large datasets, typing them out by hand is suboptimal. So let's use some simple boolean conditions instead.

In [ ]:
# Pandas applies the operation to each individual entry
print(cars["mpg"] > 25)

In [ ]:
# Use loc, not iloc, to select based on boolean masks
cars.loc[cars["mpg"] > 25]

We can also select specific rows of certain columns with boolean masks.

In [ ]:
cars.loc[cars["mpg"] > 25, ["hp", "disp"]]

### Exercises
Familiarize yourselves with data frame creation and handling.

#### Exercise 1
Manually create a dataframe from the following data. EmployeeID should be the index of the dataframe. Try using different methods (e.g. nested dictionaries, list of lists, series objects as rows or columns)

```
EmployeeID,EmployeeName,Salary,Department
2044,James,2500,Finance
1082,Hannah,4000,Sales
7386,Victoria,3700,IT
```

In [ ]:
### Your code here

In [ ]:
# MC
df1 = pd.DataFrame({
    "EmployeeName": {
        "2044": "James", 
        "1082": "Hannah",
        "7386": "Victoria"},
    "Salary": {
        "2044": 2500, 
        "1082": 4000,
        "7386": 3700},
    "Department": {
        "2044": "Finance", 
        "1082": "Sales",
        "7386": "IT"}})
display(df1)

df2 = pd.DataFrame(
    data=[
        ["James", 2500, "Finance"],
        ["Hannah", 4000, "Sales"],
        ["Victoria", 3700, "IT"]], 
    index=["2044","1082","7386"],
    columns=["EmployeeName", "Salary", "Department"])
display(df2)

# We can set the name of the index column as follows
df1.index.name = "EmployeeID"
display(df1)

#### Exercise 2
Read in the chocolate.csv data set and display the first 8 lines

In [ ]:
### Your code here

In [ ]:
# MC
choc = pd.read_csv("../data/chocolate.csv")
choc.head(8)

#### Exercise 3
Select only the chocolates with "Congo" as the country of origin and show only the rating, the cocoa percent, and the country of origin (to make sure we've selected the right products)

In [ ]:
### Your code here

In [ ]:
# MC
choc.loc[
    choc["Country of Origin"] == "Congo",
    ["Cocoa Percent", "Rating", "Country of Origin"]]

#### Exercise 4
Oh no! There was a mistake in the data entry. One of the products has a missing country of origin. Please find it, replace it with "Venezuela", and save the fixed data frame as "chocolate_fixed.csv"

  - You can use `*.isna()` to identify which entry of a series is either `NaN` or `None`, e.g. `mySeries.isna()`
  - You can assign values to data frames just like you would to lists, e.g. `df.iloc[0, 5] = 15`

In [ ]:
choc.loc[choc["Country of Origin"].isna()]

In [ ]:
# MC
choc.loc[choc["Country of Origin"].isna(), "Country of Origin"] = "Venezuela"
choc.to_csv("chocolate_fixed.csv")

## Data Processing
Pandas contains many functions to process and transform data. These can be called either on data frames or individual series. Describing every function in detail is far too time-consuming and application-dependent. A thorough list and description of *all* Pandas functionality can be found here: https://pandas.pydata.org/pandas-docs/stable/api.html

Many of the functions are more or less self-explanatory and/or well-documented

### Aggregation

In [ ]:
numbers = pd.Series([1, 2, 3, 4, 5, 5, 6, 6, 6])
print(numbers.sum())
print(numbers.mean())
print(numbers.max())
print(numbers.min())
print(numbers.idxmax())
print(numbers.idxmin())

Functions can be applied to series or data.frames. In the case of data frames, they are applied to each row or column individually

In [ ]:
df = pd.DataFrame([[1,1,1], [2,2,2], [3,3,3]])
df

In [ ]:
df.sum()

In [ ]:
df.idxmax()

We can decide whether the aggregation should occur along columns or rows. Note however, that the syntax is confusing. `axis=X` indicates along which dimension the function will "travel". For example, `axis=columns` indicates that all columns will be collapsed into the function, and the function will be applied to individual rows. Likewise, `axis=rows` means that the function will travel along rows and compute the aggregate value for each column individually.

In [ ]:
df.sum(axis='columns')

In [ ]:
df.sum(axis='rows')

The most important aggregation function is `*.apply()`, which applies an arbitrary function to each row/column.

In [ ]:
df.apply(lambda x: sum(x**2), axis='columns')

`*.apply()` is slower than the built-in functions, so should not be used for simple operations that can also be solved with direct operations on data frames.

In [ ]:
df = pd.DataFrame([[1,1,1], [2,2,2], [3,3,3]])

%timeit df.apply(lambda x: sum(x**2))
%timeit (df**2).sum()

Also take care that the function will be applied to all columns, regardless of type. The built-in functions are clever enough to skip columns for which they are not defined.

In [ ]:
df = pd.DataFrame({
    "Age": [10, 12, 12], 
    "Name": ["Liz", "John", "Sam"]})
df.sum()

# Uncomment for exception
#df.apply(lambda x: sum(x**2), axis="rows")

### Arithmetic
We can also perform element-wise operations on dataframe columns or rows, e.g.

In [ ]:
df = pd.DataFrame(
    data=[[1,2,3], [4,5,6], [7,8,9]], 
    columns=["ColA", "ColB", "ColC"], 
    index=["RowA", "RowB", "RowC"])
df

In [ ]:
df["ColA"] + df["ColB"]

In [ ]:
# Pandas is smart enough to convert our list into a series and then add the two columns element-wise
df["ColA"] + [10, 11, 12]

In [ ]:
# Remember, both rows AND columns can be represented as Pandas series
df.loc["RowA"] * df.loc["RowB"]

Pandas adheres to the same broadcasting rules as NumPy

In [ ]:
df = pd.DataFrame(
    data=[[1,2], [3,4], [5,6]], 
    columns=["ColA", "ColB"], 
    index=["RowA", "RowB", "RowC"])
df

In [ ]:
df * 2

In [ ]:
df * [1, -1]

In [ ]:
df.loc["RowA"] / 5

In [ ]:
df["ColB"] ** 3

### Grouping
A core functionality of Pandas is the ability to group data frames and apply functions to each individual group. The function `*.groupby(...)` defines groups based on common labels. Aggregators applied to this grouped data frame are then applied to each group individually.

In [ ]:
df = pd.DataFrame({
    "Height": [178, 182, 158, 167, 177, 174, 175, 185], 
    "Age": [24, 33, 32, 18, 21, 28, 22, 29],
    "Gender": ["M", "M", "F", "F", "M", "F", "M", "F"]})
display(df)

In [ ]:
print(df.groupby("Gender"))
display(df.groupby("Gender").mean())

We can also select columns without disturbing the grouping

In [ ]:
display(df.groupby("Gender")["Height"].mean())

A useful function is `size()`, which counts how large each of the groups is.

In [ ]:
df.groupby("Gender").size()

### Unique and Duplicate Values
Two functions can help us identify unique and duplicate values within Series objects. They are aptly names `unique()` and `duplicated()`, respectively.

#### unique
`*.unique()` returns only unique values of a Series object.

In [ ]:
s = pd.Series([1,2,3,2,3,4,3,5])
s.unique()

#### duplicate
`*.duplicated()` identifies duplicated values in Series objects and returns a boolean Series. Entries that have already been seen are marked as `True` while new values are marked as `False`.

In [ ]:
s = pd.Series([1,2,3,2,3,4,3,5])
s.duplicated()

When applied to Dataframes, `duplicated()` compares entire rows for duplicates.

In [ ]:
df = pd.DataFrame([
    ["Dog", 5], 
    ["Cat", 4], 
    ["Dog", 5], 
    ["Fish", 2], 
    ["Cat", 8]], 
    columns=["Animal", "Age"])
display(df)
display(df.duplicated())

To remove duplicate rows from a data frame we could use `drop_duplicates()` function.

In [ ]:
df.drop_duplicates()

### Exercises

#### Exercise 1
Load the "cars.csv" dataframe and calculate the average miles per gallon (column "mpg")

In [ ]:
### Your code here

In [24]:
# MC
cars = pd.read_csv("../data/cars.csv")
cars["mpg"].mean()

20.090624999999996

#### Exercise 2
Cars can have 4, 6, or 8 cylinders (column "cyl"). Find the mean miles per gallon (column "mpg") for each of these classes **without** using the `groupby(...)` function.

*BONUS: Write a function that takes the number of cylinders and returns the mean miles per gallon.*

In [25]:
### Your code here

In [26]:
# MC
# 4 cyl
print(cars.loc[cars["cyl"] == 4, "mpg"].mean())
# 6 cyl
print(cars.loc[cars["cyl"] == 6, "mpg"].mean())
# 8 cyl
print(cars.loc[cars["cyl"] == 8, "mpg"].mean())

def avg_mpg(df, cyl, col):
    return df.loc[df["cyl"] == cyl, col].mean()

print(avg_mpg(cars, 8, "mpg"))

26.663636363636364
19.74285714285714
15.100000000000003
15.100000000000003

#### Exercise 3
Repeat the above exercise but this time make use of the `groupby(...)` function.

In [27]:
### Your code here

In [28]:
# MC
cars.groupby("cyl")["mpg"].mean()

cyl
4    26.663636
6    19.742857
8    15.100000
Name: mpg, dtype: float64

#### Exercise 4
Your client has a proprietary metric for car engine quality that is calculated as $Q = \frac{hp}{wt^2}$. Calculate this metric for all cars and then find the average for cars with a manual (column "am" == 1) or automatic (column "am" == 0) transmission.

**HINT** You can add the new metric as a column to your data frame via `cars["q_metric'] = ...`. Assignments to unknown column (or row) index names will result in new columns (or rows) to be appended to the data frame.

In [ ]:
### Your code here

In [ ]:
# MC
cars["q_metric"] = cars["hp"] / cars["wt"]**2

# Manual transmission
print(cars.loc[cars["am"] == 1, "q_metric"].mean())
print(cars.loc[cars["am"] == 0, "q_metric"].mean())

## Merge Data Frames
Pandas data frames can be treated like SQL tables and joined.

In [ ]:
sales = pd.DataFrame({
    "Date": pd.date_range(start="2018-10-01", end="2018-10-07"), 
    "ItemID": ["A401", "C776", "A401", "FY554", "Y98R", "Y98R", "FY554"]})
sales

In [ ]:
item_info = pd.DataFrame({
    "ID": ["A401", "C776", "FY554", "Y98R"],
    "Name": ["Toaster", "Vacuum Cleaner", "Washing Machine", "Clothes Iron"], 
    "Price": [25, 220, 540, 85]})
item_info

In [ ]:
sales.merge(right=item_info, how="inner", left_on="ItemID", right_on="ID")

Merge types:
- **Inner**: keep only rows with corresponding IDs found in *both* data frames
- **Left**: use only rows with IDs found in the left data frame
- **Right**: use only rows with IDs found in the right data frame
- **Outer**: use all keys that are in at least one of the data frames. This is essentially the combination of left and right joins

Missing data will be replaced by `NaN` values

In [ ]:
sales = pd.DataFrame({
    "Date": pd.date_range(start="2018-10-01", end="2018-10-07"), 
    "ItemID": ["A401", "ZZZC776", "A401", "ZZZFY554", "Y98R", "Y98R", "FY554"]})
display(sales)
item_info = pd.DataFrame({
    "ID": ["A401", "C776", "FY554", "Y98R", "U1776"],
    "Name": ["Toaster", "Vacuum Cleaner", "Washing Machine", "Clothes Iron", "Computer"], 
    "Price": [25, 220, 540, 85, 899]})
display(item_info)

In [ ]:
sales.merge(right=item_info, how="inner", left_on="ItemID", right_on="ID")

In [ ]:
sales.merge(right=item_info, how="left", left_on="ItemID", right_on="ID")

In [ ]:
sales.merge(right=item_info, how="right", left_on="ItemID", right_on="ID")

In [ ]:
sales.merge(right=item_info, how="outer", left_on="ItemID", right_on="ID")

We can also merge on indices, either of one or both of the data frames

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display(df1, df2)

In [ ]:
df1 = df1.set_index("employee")
df2 = df2.set_index("employee")
display(df1, df2)

In [ ]:
df1.merge(df2, left_index=True, right_index=True)

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df2 = df2.set_index("employee")
display(df1, df2)

In [ ]:
df1.merge(df2, left_on="employee", right_index=True)

### Exercises

#### Exercise 1
Merge the three data frames so that we have all information available for Bob, Alice, Kevin, and Joshua in a single data frame

In [ ]:
salaries = pd.DataFrame(
    data=[["Bob", 5000], ["Alice", 4000], ["Kevin", 8000]], 
    columns=["Name", "Salary"])
departments = pd.DataFrame(
    data=[["Kevin", "IT"], ["Joshua", "Data Science"], ["Bob", "Data Science"]], 
    columns=["Name", "Department"])
supervisors = pd.DataFrame(
    data=[["IT", "Jeremy"], ["Data Science", "Darren"], ["Sales", "Yvonne"]], 
    columns=["Department", "Supervisor"])

In [ ]:
display(salaries, departments, supervisors)

In [ ]:
# MC
df1 = salaries.merge(departments, how="outer", 
                     left_on="Name", right_on="Name")
df1

In [ ]:
# MC
df2 = df1.merge(supervisors, how="left", 
               left_on="Department", right_on="Department")
df2

In [ ]:
# MC
salaries.merge(departments, how="outer").merge(supervisors, how="left")

## Reshaping Data Frames
In data analysis, we speak of 'tall' and 'wide' data formats when refering to the structure of a data frame. A 'wide' data frame lists each feature in a separate column, e.g.

| Name | Age | Hair Color |
| ---- | --- | ---------- |
| Joe  | 41  | Brown      |
| Carl | 32  | Blond      |
| Mike | 22  | Brown      |
| Sue  | 58  | Black      |
| Liz  | 27  | Blond      |

A 'tall' data frame, on the other hand, collapses all features into a single column and uses an ID ("Name" in the example here) to keep track of which data point the feature value belongs to, e.g.

| Name | Feature    | Value |
| ---- | ---------- | ----- |
| Joe  | Age        | 41    |
| Carl | Age        | 32    |
| Mike | Age        | 22    |
| Sue  | Age        | 58    |
| Liz  | Age        | 27    |
| Joe  | Hair Color | Brown |
| Carl | Hair Color | Blond |
| Mike | Hair Color | Brown |
| Sue  | Hair Color | Black |
| Liz  | Hair Color | Blond |

Pandas lets us transform between these two formats.

In [8]:
df_wide = pd.DataFrame(
    data=[
        ["Joe", 41, "Brown", 55.7, 157], 
        ["Carl", 32, "Blond", 68.4, 177], 
        ["Mike", 22, "Brown", 44.4, 158], 
        ["Sue", 58, "Black", 82.2, 159], 
        ["Liz", 27, "Blond", 55.1, 169]], 
    columns=["Name", "Age", "Hair Color", "Weight", "Height"])
df_wide

NameError: name 'pd' is not defined

`melt(...)` transforms a wide-format dataframe into a tall format. The parameter `id_vars` takes a single or tuple of column names to be used as IDs. The remaining columns are treated as features and collapsed into (variable, value) pairs.

In [9]:
# Age,Hair Color,Weight and Height are implicitly assigned as value_vars
df_tall = df_wide.melt(id_vars="Name")
df_tall

NameError: name 'df_wide' is not defined

Transforming a data frame from the tall to the wide format is called *pivoting*.

In [10]:
df_tall.pivot(index="Name", columns="variable", values="value")

NameError: name 'df_tall' is not defined

## Exploratory Data Analysis
A large part of our task as data scientists and analysts is to find patterns and interesting phenomena within data. We can make use of Pandas' vast assortment of functions to help us with this. The following exercises are designed to help you get an idea of the kind of questions you can answer with Pandas.

This dataset describes all olympic athletes, the year they participated, the event they participated in, and whether they received a medal. The data is split into two files, `olympics_events.csv` and `olympics_games.csv`, describing the events and metadata of the games, respectively. The data has been adjusted from https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

### Exercise 1
1. Load the two files, `olympics_events.csv` and `olympics_games.csv`, and display the first 10 lines of each data frame.

In [11]:
### Your code here

In [29]:
# MC
events = pd.read_csv("..\data/olympics_events.csv")
games = pd.read_csv("..\data/olympics_games.csv")
display(events.head(10), games.head(10))

,Name,Sex,Age,Height,Weight,Nationality,Sport,Event,Medal,GamesID
0,A Dijiang,M,24.0,180.0,80.0,CHN,Basketball,Basketball Men's Basketball,NaN,37
1,A Lamusi,M,23.0,170.0,60.0,CHN,Judo,Judo Men's Extra-Lightweight,NaN,48
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,Football,Football Men's Football,NaN,6
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,Speed Skating,Speed Skating Women's 500 metres,NaN,36
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,36
6,Christine Jacoba Aaftink,F,25.0,185.0,82.0,NED,Speed Skating,Speed Skating Women's 500 metres,NaN,38
7,Christine Jacoba Aaftink,F,25.0,185.0,82.0,NED,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,38
8,Christine Jacoba Aaftink,F,27.0,185.0,82.0,NED,Speed Skating,Speed Skating Women's 500 metres,NaN,39
9,Christine Jacoba Aaftink,F,27.0,185.0,82.0,NED,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,39

   ID  Year  Season       City
0   0  1896  Summer     Athina
1   1  1900  Summer      Paris
2   2  1904  Summer  St. Louis
3   3  1906  Summer     Athina
4   4  1908  Summer     London
5   5  1912  Summer  Stockholm
6   6  1920  Summer  Antwerpen
7   7  1924  Summer      Paris
8   8  1924  Winter   Chamonix
9   9  1928  Summer  Amsterdam

2. Merge the two data frames on the `GamesID` and `ID` columns. Drop the now-unnecessary id-columns afterwards.

In [30]:
### Your code here

In [31]:
# MC
events = events.merge(
    right=games, left_on="GamesID", right_on="ID", how="outer")
events = events.drop(["GamesID", "ID"], axis='columns')
display(events.head())

,Name,Sex,Age,Height,Weight,Nationality,Sport,Event,Medal,Year,Season,City
0,A Dijiang,M,24.0,180.0,80.0,CHN,Basketball,Basketball Men's Basketball,NaN,1992,Summer,Barcelona
1,Mika Lauri Aarnikka,M,24.0,187.0,76.0,FIN,Sailing,Sailing Men's Two Person Dinghy,NaN,1992,Summer,Barcelona
2,Morten Gjerdrum Aasen,M,34.0,185.0,75.0,NOR,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN,1992,Summer,Barcelona
3,Arvi Aavik,M,22.0,185.0,106.0,EST,Wrestling,"Wrestling Men's Heavyweight, Freestyle",NaN,1992,Summer,Barcelona
4,M'Bairo Abakar,M,31.0,NaN,NaN,CHA,Judo,Judo Men's Half-Middleweight,NaN,1992,Summer,Barcelona

### Exercise 2
History lesson! Malaysia's olympic nationality code is `MAS`. Prior to this, the Federation of Malaya competed under the code `MAL`. Likewise, Sarawak and Sabah competed as North Borneo (`NBO`).

1. In which years did the Federation of Malaya compete in the Olympics?

In [32]:
### Your code here

In [33]:
# MC
events.loc[events["Nationality"] == "MAL", "Year"].unique()

array([1956, 1960], dtype=int64)

2. How many athletes did they send?

In [34]:
### Your code here

In [35]:
# MC
len(events.loc[events["Nationality"] == "MAL", "Name"].unique())

40

In [36]:
events.loc[events["Nationality"] == "MAL"].nunique()

Name           40
Sex             2
Age            11
Height          8
Weight         12
Nationality     1
Sport           5
Event          18
Medal           0
Year            2
Season          1
City            2
dtype: int64

3. Who were the first countries to participate in the Olympic games (as per this data set)?

In [37]:
### Your code here

In [38]:
# MC
earliest_year = events["Year"].min()
earliest_year

1896

In [39]:
first_event = events.loc[events["Year"] == earliest_year]
first_event

,Name,Sex,Age,Height,Weight,Nationality,Sport,Event,Medal,Year,Season,City
270736,Aristidis Akratopoulos,M,NaN,NaN,NaN,GRE,Tennis,Tennis Men's Singles,NaN,1896,Summer,Athina
270737,Aristidis Akratopoulos,M,NaN,NaN,NaN,GRE,Tennis,Tennis Men's Doubles,NaN,1896,Summer,Athina
270738,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,GRE,Tennis,Tennis Men's Singles,NaN,1896,Summer,Athina
270739,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,GRE,Tennis,Tennis Men's Doubles,NaN,1896,Summer,Athina
270740,Anastasios Andreou,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's 110 metres Hurdles,NaN,1896,Summer,Athina
270741,Ioannis Andreou,M,NaN,NaN,NaN,GRE,Swimming,"Swimming Men's 1,200 metres Freestyle",Silver,1896,Summer,Athina
270742,Nikolaos Andriakopoulos,M,NaN,NaN,NaN,GRE,Gymnastics,Gymnastics Men's Rope Climbing,Gold,1896,Summer,Athina
270743,Georgios Anninos,M,NaN,NaN,NaN,GRE,Swimming,Swimming Men's 100 metres Freestyle,NaN,1896,Summer,Athina
270744,Antelothanasis,M,NaN,NaN,NaN,GRE,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN,1896,Summer,Athina
270745,Georgios Aspiotis,M,NaN,NaN,NaN,GRE,Cycling,"Cycling Men's Road Race, Individual",NaN,1896,Summer,Athina
270746,Edward Battel,M,NaN,NaN,NaN,GBR,Cycling,"Cycling Men's Road Race, Individual",Bronze,1896,Summer,Athina
270747,Edward Battel,M,NaN,NaN,NaN,GBR,Cycling,Cycling Men's 333 metres Time Trial,NaN,1896,Summer,Athina
270748,Edward Battel,M,NaN,NaN,NaN,GBR,Cycling,Cycling Men's 100 kilometres,NaN,1896,Summer,Athina
270749,Albert Baumann,M,NaN,NaN,NaN,SUI,Shooting,"Shooting Men's Military Rifle, 200 metres",NaN,1896,Summer,Athina
270750,Spyridon Belokas,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's Marathon,NaN,1896,Summer,Athina
270751,Arthur Charles Blake,M,24.0,NaN,NaN,USA,Athletics,"Athletics Men's 1,500 metres",Silver,1896,Summer,Athina
270752,Arthur Charles Blake,M,24.0,NaN,NaN,USA,Athletics,Athletics Men's Marathon,NaN,1896,Summer,Athina
270753,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Horse Vault,NaN,1896,Summer,Athina
270754,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Parallel Bars,NaN,1896,Summer,Athina
270755,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Gold,1896,Summer,Athina
270756,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,1896,Summer,Athina
270757,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,"Gymnastics Men's Horizontal Bar, Teams",Gold,1896,Summer,Athina
270758,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Rings,NaN,1896,Summer,Athina
270759,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Pommelled Horse,NaN,1896,Summer,Athina
270760,John Mary Pius Boland,M,25.0,NaN,NaN,GBR,Tennis,Tennis Men's Singles,Gold,1896,Summer,Athina
270761,John Mary Pius Boland,M,25.0,NaN,NaN,GBR,Tennis,Tennis Men's Doubles,Gold,1896,Summer,Athina
270762,"Thomas Edmund ""Tom"" Burke",M,21.0,183.0,66.0,USA,Athletics,Athletics Men's 100 metres,Gold,1896,Summer,Athina
270763,"Thomas Edmund ""Tom"" Burke",M,21.0,183.0,66.0,USA,Athletics,Athletics Men's 400 metres,Gold,1896,Summer,Athina
270764,Eugne Henri Callot,M,20.0,NaN,NaN,FRA,Fencing,"Fencing Men's Foil, Individual",Silver,1896,Summer,Athina
270765,Demetrius Emmanuel Casdagli,M,23.0,NaN,NaN,GRE,Tennis,Tennis Men's Singles,Silver,1896,Summer,Athina
...,...,...,...,...,...,...,...,...,...,...,...,...
271086,Vavis,M,NaN,NaN,NaN,GRE,Shooting,"Shooting Men's Military Pistol, 25 metres",NaN,1896,Summer,Athina
271087,Sotirios Versis,M,NaN,NaN,NaN,GRE,Weightlifting,"Weightlifting Men's Unlimited, One Hand",NaN,1896,Summer,Athina
271088,Sotirios Versis,M,NaN,NaN,NaN,GRE,Weightlifting,"Weightlifting Men's Unlimited, Two Hands",Bronze,1896,Summer,Athina
271089,Sotirios Versis,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's Discus Throw,Bronze,1896,Summer,Athina
271090,Ioannis Vourakis,M,NaN,NaN,NaN,GRE,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN,1896,Summer,Athina
271091,Athanasios Vouros,M,NaN,NaN,NaN,GRE,Fencing,"Fencing Men's Foil, Individual",Bronze,1896,Summer,Athina
271092,Ioannis Vrettos,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's Marathon,NaN,1896,Summer,Athina
271093,Charles Waldstein (-Walston),M,40.0,NaN,NaN,USA,Shooting,"Shooting Men's Military Rifle, 200 metres",NaN,1896,Summer,Athina
271094,"Desiderius ""Dezs"" Wein (Boros)",M,23.0,NaN,NaN,HUN,Gymnastics,Gymnastics Men's Horse Vault,NaN,1896,Summer,Athina
271095,"Desiderius ""Dezs"" Wein (Boros)",M,23.0,NaN,NaN,HUN,Gymnastics,Gymnastics Men's Parallel Bars,NaN,1896,Summer,Athina
271096,"Desiderius ""Dezs"" Wein (Boros)",M,23.0,NaN,NaN,HUN,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,1896,Summer,Athina
271097,"Desiderius ""Dezs"" Wein (Boros)",M,23.0,NaN,NaN,HUN,Gymnastics,Gymnastics Men's Pommelled Horse,NaN,1896,Summer,Athina
271098,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Horse Vault,Bronze,1896,Summer,Athina
271099,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Parallel Bars,NaN,1896,Summer,Athina
271100,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Gold,1896,Summer,Athina
271101,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Horizontal Bar,Gold,1896,Summer,Athina
271102,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,"Gymnastics Men's Horizontal Bar, Teams",Gold,1896,Summer,Athina
271103,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Rings,Silver,1896,Summer,Athina
271104,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,GER,Gymnastics,Gymnastics Men's Pommelled Horse,Silver,1896,Summer,Athina
271105,Joseph Welzenbacher,M,NaN,NaN,NaN,GER,Cycling,Cycling Men's 100 kilometres,NaN,1896,Summer,Athina
271106,Joseph Welzenbacher,M,NaN,NaN,NaN,GER,Cycling,Cycling Men's 12-Hours Race,NaN,1896,Summer,Athina
271107,Gardner Boyd Williams,M,18.0,NaN,NaN,USA,Swimming,Swimming Men's 100 metres Freestyle,NaN,1896,Summer,Athina
271108,Gardner Boyd Williams,M,18.0,NaN,NaN,USA,Swimming,"Swimming Men's 1,200 metres Freestyle",NaN,1896,Summer,Athina
271109,Thomas Xenakis,M,21.0,NaN,NaN,GRE,Gymnastics,Gymnastics Men's Rope Climbing,Silver,1896,Summer,Athina
271110,Vasilios Xydas,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's Pole Vault,NaN,1896,Summer,Athina
271111,Khristos Zoumis,M,NaN,NaN,NaN,GRE,Athletics,Athletics Men's Triple Jump,NaN,1896,Summer,Athina
271112,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,SUI,Gymnastics,Gymnastics Men's Horse Vault,Silver,1896,Summer,Athina
271113,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,SUI,Gymnastics,Gymnastics Men's Parallel Bars,Silver,1896,Summer,Athina
271114,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,SUI,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,1896,Summer,Athina
271115,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,SUI,Gymnastics,Gymnastics Men's Pommelled Horse,Gold,1896,Summer,Athina

In [40]:
countries = first_event["Nationality"].unique()
print(countries)

['GRE' 'GBR' 'SUI' 'USA' 'GER' 'FRA' 'HUN' 'AUS' 'AUT' 'DEN' 'ITA' 'SWE']

4. How many men and women has Malaysia (`MAS`) sent to the Olympics in total? Keep in mind that athletes can participate in multiple events and multiple years. Each person should only ever be counted once.

*HINT*: As we're only interested in athlete names and their genders, it's easiest to drop other columns and not have to worry about them. Create a new data frame but don't overwrite `events` as we'll need it for later exercises as well, though.

In [41]:
### Your code here

In [42]:
# MC
# We're only interested in Malaysian athletes and their genders
athletes_mas = events.loc[events["Nationality"] == "MAS", ["Name", "Sex"]]

# Remove duplicates from this data frame
athletes_mas_unique = athletes_mas.drop_duplicates()  

# Print the output
athletes_mas_unique["Sex"].value_counts()   
# athletes_mas_unique["Sex"].size()

M    247
F     54
Name: Sex, dtype: int64

### Exercise 3
1. How many men and women has Malaysia (`MAS`) sent to the Olympics each year?

    Hint: This is a lot like the previous question except that athletes only count as duplicate now if they compete in multiple events in the same year. An athlete competing in multiple years is no longer duplicate.

In [43]:
### Your code here

In [44]:
# MC
athletes_mas = events.loc[events["Nationality"] == "MAS", ["Name", "Sex", "Year"]]

athletes_mas_unique = athletes_mas.drop_duplicates()

display(athletes_mas_unique.groupby("Year")["Sex"].value_counts())

# The previous answer feels a bit clumsy. We're grouping 
# by gender and then counting instances in another column.
# A more elegant solution is to group by multiple columns
# and then simply check the size of each group
display(athletes_mas_unique.groupby(["Year", "Sex"]).size())

Year  Sex
1964  M      57
      F       4
1968  M      31
1972  M      42
      F       3
1976  M      23
1984  M      20
      F       1
1988  M       5
      F       4
1992  M      26
1996  M      32
      F       3
2000  M      32
      F       8
2004  M      18
      F       8
2008  M      18
      F      14
2012  M      16
      F      13
2016  M      17
      F      15
Name: Sex, dtype: int64

Year  Sex
1964  F       4
      M      57
1968  M      31
1972  F       3
      M      42
1976  M      23
1984  F       1
      M      20
1988  F       4
      M       5
1992  M      26
1996  F       3
      M      32
2000  F       8
      M      32
2004  F       8
      M      18
2008  F      14
      M      18
2012  F      13
      M      16
2016  F      15
      M      17
dtype: int64

2. How does the ratio of male to female athletes sent by Malaysia compare to the global ratio for the year 2016?

In [45]:
### Your code here

In [46]:
# MC
events_2016 = events.loc[events["Year"] == 2016] 
athletes_2016 = events_2016[["Name", "Sex", "Nationality"]]

athletes_2016 = athletes_2016.drop_duplicates()

athletes_2016.head()

                       Name Sex Nationality
128213        Andreea Aanei   F         ROU
128214    Nstor Abad Sanjun   M         ESP
128220  Antonio Abadia Beci   M         ESP
128221    Giovanni Abagnale   M         ITA
128222    Patimat Abakarova   F         AZE

In [47]:
# MC
# Global ratio
athlete_count_global = athletes_2016["Sex"].value_counts()
athlete_count_global

M    6144
F    5031
Name: Sex, dtype: int64

In [48]:
# MC
athlete_ratio_global = athlete_count_global.loc["M"] / athlete_count_global.loc["F"]
print("Global male-to-female ratio: {:.2f}".format(athlete_ratio_global))

# Malaysian ratio
athletes_2016_mas = athletes_2016.loc[athletes_2016["Nationality"] == "MAS"]
athlete_count_mas = athletes_2016_mas["Sex"].value_counts()
athlete_ratio_mas = athlete_count_mas.loc["M"] / athlete_count_mas.loc["F"]
print("Malaysian male-to-female ratio: {:.2f}".format(athlete_ratio_mas))

Global male-to-female ratio: 1.22
Malaysian male-to-female ratio: 1.13

### Exercise 4
Let's start looking at some of the numerical data!

1. How many gold medals has each country won? How about Malaysia (`MAS`)?

In [49]:
### Your code here

In [50]:
# MC
medals = events.loc[~events["Medal"].isna()]
medal_table = medals.groupby(["Nationality", "Medal"]).size()
print(medal_table)
print()
print(medal_table.loc["MAS"])

Nationality  Medal
AFG          Bronze       2
AHO          Silver       1
ALG          Bronze       8
             Gold         5
             Silver       4
ANZ          Bronze       5
             Gold        20
             Silver       4
ARG          Bronze      91
             Gold        91
             Silver      92
ARM          Bronze       9
             Gold         2
             Silver       5
AUS          Bronze     517
             Gold       348
             Silver     455
AUT          Bronze     156
             Gold       108
             Silver     186
AZE          Bronze      25
             Gold         7
             Silver      12
BAH          Bronze      15
             Gold        14
             Silver      11
BAR          Bronze       1
BDI          Gold         1
             Silver       1
BEL          Bronze     173
                       ...
UGA          Silver       3
UKR          Bronze     100
             Gold        47
             Silver      52
URS          Bronze     689
             Gold      1082
             Silver     732
URU          Bronze      30
             Gold        31
             Silver       2
USA          Bronze    1358
             Gold      2638
             Silver    1641
UZB          Bronze      17
             Gold        10
             Silver       7
VEN          Bronze      10
             Gold         2
             Silver       3
VIE          Gold         1
             Silver       3
WIF          Bronze       5
YUG          Bronze      93
             Gold       130
             Silver     167
ZAM          Bronze       1
             Silver       1
ZIM          Bronze       1
             Gold        17
             Silver       4
Length: 362, dtype: int64

Medal
Bronze     5
Silver    11
dtype: int64

#### Stacking and Unstacking Data Frames 
The previous solution is in an acceptable format, but it's not the most human-friendly way to present data. Instead, we can *unstack* our data and bring it into *wide* format.

In [51]:
medal_table_wide = medal_table.unstack(fill_value=0)
medal_table_wide

Medal        Bronze  Gold  Silver
Nationality
AFG               2     0       0
AHO               0     0       1
ALG               8     5       4
ANZ               5    20       4
ARG              91    91      92
ARM               9     2       5
AUS             517   348     455
AUT             156   108     186
AZE              25     7      12
BAH              15    14      11
BAR               1     0       0
BDI               0     1       1
BEL             173    98     197
BER               1     0       0
BLR              71    24      44
BOH              11     0       1
BOT               0     0       1
BRA             191   109     175
BRN               1     1       1
BUL             144    54     144
CAN             451   463     438
CHI              20     3       9
CHN             292   350     347
CIV               1     1       1
CMR               1    20       1
COL              14     5       9
CRC               2     1       1
CRO              37    58      54
CUB             116   164     129
CYP               0     0       1
...             ...   ...     ...
SUD               0     0       1
SUI             268   175     248
SUR               1     1       0
SVK              13    15      19
SWE             535   479     522
SYR               1     1       1
TAN               0     0       2
TCH             182    81     225
TGA               0     0       1
THA              13     9       8
TJK               2     1       1
TOG               1     0       0
TPE              18     3      28
TTO              17     7       8
TUN               7     3       3
TUR              28    40      27
UAE               1     1       0
UAR               1     0       1
UGA               2     2       3
UKR             100    47      52
URS             689  1082     732
URU              30    31       2
USA            1358  2638    1641
UZB              17    10       7
VEN              10     2       3
VIE               0     1       3
WIF               5     0       0
YUG              93   130     167
ZAM               1     0       1
ZIM               1    17       4

[149 rows x 3 columns]

The opposite operation, `*.stack()` brings it back into the original *long* format.

In [52]:
medal_table_wide.stack()

Nationality  Medal
AFG          Bronze       2
             Gold         0
             Silver       0
AHO          Bronze       0
             Gold         0
             Silver       1
ALG          Bronze       8
             Gold         5
             Silver       4
ANZ          Bronze       5
             Gold        20
             Silver       4
ARG          Bronze      91
             Gold        91
             Silver      92
ARM          Bronze       9
             Gold         2
             Silver       5
AUS          Bronze     517
             Gold       348
             Silver     455
AUT          Bronze     156
             Gold       108
             Silver     186
AZE          Bronze      25
             Gold         7
             Silver      12
BAH          Bronze      15
             Gold        14
             Silver      11
                       ...
URS          Bronze     689
             Gold      1082
             Silver     732
URU          Bronze      30
             Gold        31
             Silver       2
USA          Bronze    1358
             Gold      2638
             Silver    1641
UZB          Bronze      17
             Gold        10
             Silver       7
VEN          Bronze      10
             Gold         2
             Silver       3
VIE          Bronze       0
             Gold         1
             Silver       3
WIF          Bronze       5
             Gold         0
             Silver       0
YUG          Bronze      93
             Gold       130
             Silver     167
ZAM          Bronze       1
             Gold         0
             Silver       1
ZIM          Bronze       1
             Gold        17
             Silver       4
Length: 447, dtype: int64

### Exercise 5
1. What is the median age of gold medalists?

In [53]:
### Your code here

In [54]:
# MC
events.loc[events["Medal"] == "Gold", "Age"].median()

25.0

2. What is the median age of gold, silver, and bronze medalists for each individual sport?

In [55]:
### Your code here

In [56]:
# MC
events.groupby(["Sport", "Medal"])["Age"].median().unstack()

Medal                      Bronze  Gold  Silver
Sport
Aeronautics                   NaN  26.0     NaN
Alpine Skiing                24.0  24.0    24.0
Alpinism                      NaN  38.0     NaN
Archery                      26.0  26.5    27.0
Art Competitions             42.0  40.0    41.0
Athletics                    24.0  24.0    25.0
Badminton                    25.0  25.0    26.0
Baseball                     25.0  26.0    27.0
Basketball                   25.0  25.0    25.0
Basque Pelota                 NaN  26.0     NaN
Beach Volleyball             29.5  30.0    29.5
Biathlon                     26.0  26.5    26.0
Bobsleigh                    29.0  30.0    29.0
Boxing                       23.0  23.0    23.0
Canoeing                     25.0  25.0    26.0
Cricket                       NaN  24.0    35.0
Croquet                      48.5  18.5    21.0
Cross Country Skiing         27.0  27.0    28.0
Curling                      30.0  33.5    32.0
Cycling                      24.0  23.0    24.0
Diving                       23.0  21.5    22.0
Equestrianism                35.0  34.0    34.0
Fencing                      28.0  28.0    28.0
Figure Skating               24.0  24.0    23.0
Football                     23.0  24.0    23.0
Freestyle Skiing             25.0  25.0    25.0
Golf                         30.5  20.0    27.0
Gymnastics                   23.0  23.0    23.0
Handball                     27.0  26.0    25.0
Hockey                       26.0  26.0    25.0
...                           ...   ...     ...
Modern Pentathlon            26.0  27.0    28.0
Motorboating                  NaN  29.0     NaN
Nordic Combined              25.0  26.0    24.0
Polo                         35.0  35.5    33.0
Racquets                     25.0  29.0    25.0
Rhythmic Gymnastics          19.0  18.0    19.0
Roque                        37.0  64.0    59.0
Rowing                       25.0  25.0    25.0
Rugby                         NaN  24.0    24.0
Rugby Sevens                 27.0  25.0    25.0
Sailing                      30.0  30.0    30.0
Shooting                     33.0  32.0    32.0
Short Track Speed Skating    22.0  22.0    23.0
Skeleton                     27.0  27.5    30.0
Ski Jumping                  23.0  24.0    23.5
Snowboarding                 25.5  24.5    24.0
Softball                     27.0  25.5    26.5
Speed Skating                26.0  25.0    25.0
Swimming                     21.0  21.0    21.0
Synchronized Swimming        22.0  23.5    25.0
Table Tennis                 24.0  24.0    24.0
Taekwondo                    23.0  22.0    24.0
Tennis                       25.0  26.0    27.0
Trampolining                 23.0  24.0    25.5
Triathlon                    26.5  29.0    28.5
Tug-Of-War                   26.0  30.0    29.5
Volleyball                   25.0  26.0    25.0
Water Polo                   25.0  26.0    26.0
Weightlifting                25.0  24.5    24.0
Wrestling                    26.0  25.0    26.0

[66 rows x 3 columns]

3. Look at only swimmers. How has the mean weight of all competitors changed throughout the years? Use `*.plot()` to get a visual sense of the trend.

In [57]:
### Your code here

In [58]:
# MC
events_swimming = events.loc[events["Sport"] == "Swimming"]
events_swimming.groupby("Year")["Weight"].mean().plot()

4. What is the mean and standard deviation of the BMI of athletes in each sports discipline? The BMI can be computed as 

    $$BMI = Weight~/~\left(\frac{Height}{100}\right)^2$$

    with the values in this dataset. To solve this question, break it down into individual steps:
    - Calculate the BMI for all athletes
    - Group by 'Sport'
    - Calculate the mean and standard deviation of the BMI of the grouped data frame
    
    *Hint*: Use `*.agg([..., ...])` to apply "mean" and "std" (standard deviation) simultaneously.

In [59]:
### Your code here

In [60]:
# MC
events["BMI"] = events["Weight"] / (events["Height"]/100)**2
bmi_table = events.groupby("Sport")["BMI"].agg(["mean", "std"])
bmi_table.sort_values("mean")

                                mean       std
Sport
Rhythmic Gymnastics        17.286514  1.312635
Synchronized Swimming      19.670156  1.421450
Triathlon                  20.394810  1.324257
Figure Skating             20.839866  2.153338
Ski Jumping                20.902259  1.924349
Gymnastics                 21.283177  2.206059
Trampolining               21.297575  1.757719
Nordic Combined            21.459709  1.367348
Taekwondo                  21.609987  2.628699
Boxing                     21.676326  2.740416
Diving                     21.684808  1.953950
Cross Country Skiing       21.843084  1.600222
Biathlon                   21.879153  1.628600
Lacrosse                   21.894684  0.899695
Swimming                   21.995689  1.905206
Tennis                     21.998798  1.787282
Table Tennis               22.029295  2.041260
Athletics                  22.088066  3.310094
Modern Pentathlon          22.112857  1.473702
Short Track Speed Skating  22.114089  1.779870
Equestrianism              22.245084  2.011173
Badminton                  22.368056  1.740456
Volleyball                 22.460733  1.802740
Cycling                    22.523960  2.118435
Fencing                    22.616060  1.922187
Beach Volleyball           22.670735  1.868001
Freestyle Skiing           22.789293  2.191356
Football                   22.838260  1.602276
Hockey                     22.914725  1.850804
Speed Skating              22.991944  1.641902
...                              ...       ...
Motorboating               23.503556       NaN
Curling                    23.633659  2.633178
Skeleton                   23.736949  2.510832
Sailing                    23.798300  2.775794
Alpine Skiing              23.801255  2.219729
Canoeing                   23.907510  1.779353
Handball                   24.065823  2.136940
Shooting                   24.465527  3.351415
Water Polo                 24.586849  2.123657
Luge                       24.679464  2.192207
Wrestling                  25.001819  4.220590
Art Competitions           25.093782  3.661959
Ice Hockey                 25.142210  1.941397
Rugby Sevens               25.456048  2.460297
Judo                       25.588986  4.685829
Baseball                   25.676955  2.291927
Rugby                      25.684543  2.311639
Bobsleigh                  26.987648  2.528894
Tug-Of-War                 27.467685  3.536557
Weightlifting              27.723679  5.523015
Aeronautics                      NaN       NaN
Alpinism                         NaN       NaN
Basque Pelota                    NaN       NaN
Cricket                          NaN       NaN
Croquet                          NaN       NaN
Jeu De Paume                     NaN       NaN
Military Ski Patrol              NaN       NaN
Polo                             NaN       NaN
Racquets                         NaN       NaN
Roque                            NaN       NaN

[66 rows x 2 columns]

### Exercise 6
1. What country has the most gold medals in wrestling?

In [61]:
### Your code here

In [62]:
# MC
events.loc[
    (events["Sport"] == "Wrestling") & 
    (events["Medal"] == "Gold"), "Nationality"].value_counts()

URS    62
USA    52
JPN    32
TUR    29
RUS    29
SWE    28
FIN    27
HUN    19
BUL    16
KOR    11
IRI     9
CUB     9
ROU     7
ITA     7
EUN     6
GER     5
EST     5
POL     5
SUI     4
FRA     4
AZE     4
YUG     4
UZB     4
NOR     4
CAN     3
GEO     3
GBR     3
UKR     3
PRK     3
GDR     2
EGY     2
CHN     2
DEN     2
ARM     2
KAZ     1
AUT     1
GRE     1
TCH     1
SRB     1
FRG     1
Name: Nationality, dtype: int64

2. How many different types of events have ever been held for fencing?

In [63]:
### Your code here

In [64]:
# MC
len(events.loc[events["Sport"] == "Fencing", "Event"].unique())

18

3. Typically, only one of each medal is awarded per year for each event. This is not the case for team sports, however. If a team wins the gold, then each team member is awarded a gold medal. What is the largest team to have ever been awarded gold medals for a single event in a single year?

In [65]:
### Your code here

In [66]:
# MC
events.groupby(["Nationality", "Event", "Medal", "Year"]).size().idxmax()

('SWE', "Gymnastics Men's Team All-Around", 'Gold', 1908)

In [67]:
display (events.loc[events["Sport"] == "Fencing", "Event"].unique())

array(["Fencing Men's Sabre, Team", "Fencing Men's Foil, Individual",
       "Fencing Men's epee, Team", "Fencing Men's Sabre, Individual",
       "Fencing Men's epee, Individual", "Fencing Men's Foil, Team",
       "Fencing Women's Foil, Individual", "Fencing Women's Foil, Team",
       "Fencing Women's epee, Individual",
       "Fencing Women's Sabre, Individual", "Fencing Women's epee, Team",
       "Fencing Men's Sabre, Masters, Individual",
       "Fencing Men's Foil, Masters, Individual",
       "Fencing Men's epee, Masters, Individual",
       "Fencing Men's epee, Masters and Amateurs, Individual",
       "Fencing Women's Sabre, Team",
       "Fencing Men's Sabre, Individual, Three Hits",
       "Fencing Men's Single Sticks, Individual"], dtype=object)